* {
    margin: 0;
    padding: 0;
}

body {
    border: 5px solid firebrick;
    background: rgb(72, 60, 55);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 5px solid rgb(47, 0, 255);
    width: 350px;
    height: 450px;
    box-sizing: border-box;
    display: flex;
    background-color: rgb(250, 227, 197);
    flex-direction: column;
}

.display {
    border: 5px solid rgb(238, 255, 0);
    width: 100%;
    box-sizing: border-box;
    height: 20%;
}

.screen {
    border: 5px solid rgb(0, 255, 119);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.top-row {
    border: 5px solid rgb(255, 0, 195);
    display: flex;
    height: 16%;
}

.top-row>* {}

/* .c {}

.percent {}

.back {}

.divide {} */

.bottom-half {
    border: 5px solid rgb(0, 255, 251);
    display: flex;
    flex-wrap: wrap;
    height: 64%;
}

.keys {
    /* border: 5px solid black; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.keys>* {
    border: 1px solid black;
    background-color: lightblue;
    box-sizing: border-box;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.keys>.negative,
.decimal {
    background-color: rgb(207, 207, 228);
}

.operation {
    background-color: yellow;
}

.operations {
    /* border-bottom: 5px solid black; */
    /* border-top: 5px solid black; */
    /* border-right: 5px solid black; */
    box-sizing: border-box;
    width: 25%;
}

.operations>* {
    border: 1px solid black;
    border-right: 0px;
    height: 25%;
    display: flex;
    flex-direction: wrap;
}

/* .seven{}
.eight{}
.nine{}
.four{}
.five{}
.six{}
.one{}
.two{}
.three{} */