* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "sans-serif";
}

body {
    border: 5px solid firebrick;
    background: rgb(72, 60, 55);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: 10px solid rgb(253, 253, 253);
    box-shadow: 0px 0px 5px 5px black;
    width: 350px;
    height: 450px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(253, 253, 253);
    gap: 2%;
}

.display {
    /* border: 5px solid rgb(238, 255, 0); */
    width: 100%;
    box-sizing: border-box;
    height: 20%;
}

.screen {
    border: 2px solid black;
    /* border-bottom: 5px solid black; */
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(252, 236, 215);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    font-size: 65px;
    font-family: "Roboto", sans-serif;
}

.bottom-half {
    /* border: 5px solid rgb(0, 255, 251); */
    /* border-bottom: 2px solid rgb(0, 0, 0); */
    /* border-left: 2px solid rgb(0, 0, 0); */
    /* border-right: 2px solid rgb(0, 0, 0); */
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 78%;
}

.keys {
    /* border-top: 1px solid black; */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.keys>* {
    border: 2px solid black;
    background-color: lightblue;
    box-sizing: border-box;
    width: 25%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 400;
    font-size: 18px;
}

.keys>.negative,
.decimal {
    background-color: rgb(139, 139, 252);
    font-weight: bolder;
    font-size: 20px;
}

.keys .top {
    background-color: rgb(245, 177, 245);
}

button:active {
    transform: translateY(2px);
    border-top: 4px solid black;
}

.operation {
    background-color: yellow;
    font-size: 22px;
}

.pressed {
    background-color: rgb(173, 173, 0);
}